$abyss: #215066;
$pureWhite: #FFF;
$white: #F0F0F0;
$offWhite: #A0A0A0;
$secondary: #0DCCAA;
$secondaryFaded: #faa30744;
$dark: #303034;
$alert: #FF6644;
$glass: #E3E3E326;
$body-bg: $abyss;
$mint: #0DCCAA;
$glassOp: #476677;

@import "../node_modules/bootstrap/scss/bootstrap";
.bg-pureWhite {
  background: $pureWhite;
}

::-webkit-scrollbar {
  display: none;
}

.page-header {
  z-index: 9999;
  position: sticky;
  margin: auto;
  box-shadow: 0px 25px 50px -25px #000000;

  h1 {
    font-size: 32px;
    font-weight: 300;
  }
}

body {
  min-height: 100vh;
}


h6 {
  font-size: 14px;
}

.header-top {
  z-index: 8999;
  height: 40px;
}

.header-bottom {
  z-index: 7999;
  height: 40px;
}

.br {
  height: 1px;
  width: 100%;
  background-color: $white;
}

.underline-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $offWhite;
}

.underline-filter-unselected {
  color: $offWhite;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid $offWhite;
  transition-duration: 200ms;
  cursor: pointer;
  font-size: 12px;
}

.underline-filter-selected {
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid $mint;
  transition-duration: 200ms;
  cursor: pointer;
  font-size: 12px;
}

.page-container {
  background-color: $glass;
  padding: 25px;
  margin: 15px 10px;
  max-width: 1200px;
  box-shadow: -1px 10px 15px -6px rgba(0, 0, 0, 0.37);
}

.form-container {
  background-color: $glass;
  padding: 25px;
  margin: 15px 10px;
  max-width: 1200px;
  box-shadow: -1px 10px 15px -6px rgba(0, 0, 0, 0.37);
  max-height: 90vh;
}

.modal-container {
  background-color: $glassOp;
  padding: 25px;
  margin: 15px 10px;
  box-shadow: -1px 10px 15px -6px rgba(0, 0, 0, 0.37);
  z-index: 9999;
}

.modal-background {
  background-color: black;
  height: 100vh;
  width: 100vw;
  opacity: 50%;
  z-index: 9998;
}

.chat-box {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 15px;
}

.section-header {
  background-color: $glass;
  display: flex;
  align-items: center;
  justify-content: start;

  h2 {
    color: $white;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
}

.bg-blur {
  color: #00000001;
  backdrop-filter: blur(15px);
}

.zoom {
  transition-duration: 300ms;
  transform: scale(1);
}

.zoom:hover {
  transition-duration: 300ms;
  transform: scale(1.02);
}

.mantis-sidebar {
  z-index: 9999;
  width: 150px;
  transition-duration: 300ms;
  text-decoration: none;
  display: none;
}

.sb-item {
  font-size: 14px;
  text-decoration: none;
  transition-duration: 300ms;
  color: $offWhite;

  p {
    padding: 0;
    margin: 0;
  }
}

.sb-item:hover {
  color: $white;
  transition-duration: 300ms;
}

.bg-abyss {
  background-color: $abyss;
}

.mantis-modal {
  z-index: 9998;
  transition-duration: 300ms;
}

.side-alert {
  transition-duration: 200ms;
  width: 1%;
  background: red;
  margin: -20px;
}

.side-alert:hover {
  transition-duration: 200ms;
  width: 10%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.shadow-p {
  box-shadow: 0 10px 20px -15px #00000088;
}

.list-h {
  font-weight: lighter;
  font-size: 14px;
  //font-style: italic;
}

.list-title {
  font-weight: lighter;
  font-size: 16px;
}

.list-head {
  font-weight: normal;
  font-size: 18px;
}

.bg-glass {
  background-color: $glass;
  backdrop-filter: blur(4px);
}

.bg-mint {
  background-color: $secondary;
}

body {
  background: linear-gradient(217deg, #215066 0, #141C24 100%) fixed;
  margin: 0;
  height: 100%;
}

.priority-4 {
  background-color: #eb4949;
}

.priority-3 {
  background-color: #e3873b;
}

.priority-2 {
  background-color: #4262ed;
}

.priority-1 {
  background-color: $glass;
}

html .App {
  background-color: #215066;
}

.cut-tr {

  //clip-path: polygon(20px 0, 100% 0%, calc(100% - 20px) 100%, 0% 100%);


}

.type-select {
  outline: 1px solid $white;
  color: $white;
}

.main-list {
  min-height: 80px;
  border-bottom: 1px solid #FFFFFF44;

  p {
    font-size: 14px;
    color: $white;
    margin: 0;
    padding: 0;
  }
}

.main-list:hover {
  border: none;
  background-color: $glass;
  border-radius: 6px;
}